<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <div class="container">
        <a class="navbar-brand text-white" href="{% url 'dashboard-index' %}">StrawHats Inventory System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <!-- Display when user is authenticated -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link text-white" href="{% url 'dashboard-index' %}">Dashboard <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link text-white" href="{% url 'user-profile' %}">Admin Profile <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <form method="post" action="{% url 'user-logout' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-white" style="padding: 0; background: none; border: none; margin: 0;">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
            {% else %}
            <!-- Display when user is not authenticated -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'user-register' %}">Register<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
<!--End Navbar-->
